body, html {
    background-image: url(../startbootstrap-the-big-picture-gh-pages/lena-polishko-CxhvzHcMczE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {

    text-align: center;
    position: relative;
    color: white;

}

h2, p {
    color: white;
    position: relative;
    padding: 5px;
    text-align: center;
}

a {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



#submit {
    border: 4px;
    border-color: ghostwhite;
    border-radius: 10%;
    background-color: ghostwhite;
}

#entire-form {
    background-color: rgba(6, 15, 30, 0.5);
    width: 80%;
    height: 50%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(8, 8, 62, 0.3) 0px 8px 8px -8px;
    margin: 0 auto;
}



input[type=text] {
    color: rgb(7, 26, 67);
}

input {
    display: inline-block;
    

}

#entire-form {
    position: relative;

}

.block {
    display: inline-flex;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    }

li {
    padding: 5px;
}

h2 {
    color: white;
}

a:hover {
    color: blanchedalmond;
}

.madlibs-1 {
    padding: 0 5%;
    margin-top: 20px;

}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-group label {
    padding-left: 10px;
}

.input-group input[type="text"] {
    height: 40px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 20px;
    box-shadow:rgba(8, 8, 62, 0.3) 0px 2px 2px 0px;
    margin: 3px 0px;
    padding-left: 3px 0;

}
